@using RedactApplication.Models
@model RedactApplication.Models.COMMANDEViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/LayoutConnected.cshtml";

}

@if (ViewBag.succes != null)
{
    if (ViewBag.succes == 1)
    {
        <script>
            $("#addUserPopUp").modal();
            $("div#addUserPopUp").css("display", "block");
        </script>
    }
    else if (ViewBag.succes == 2)
    {
        <script>
            $("#errorLimitUserPopUp").modal();
            $("div#errorLimitUserPopUp").css("display", "block");
        </script>
    }
    else if (ViewBag.succes == 3)
    {
        <script>
            $("#errorValidDataUserPopUp").modal();
            $("div#errorValidDataUserPopUp").css("display", "block");
        </script>
    }
}

@section Scripts{
    <link rel="stylesheet" href="~/Content/css/bootstrap-datepicker3.css" />
    <script type="text/javascript" src="~/Scripts/js/bootstrap-datepicker.min.js"></script>

    <link rel="stylesheet" href="~/Content/css/elements/commandes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.css">

    <script type="text/javascript">
        jQuery(document).ready(function () {
            var date = new Date();
            date.setDate(date.getDate());
            var date_input = $('input[name="date_livraison"]'); //our date input has the name "date"
            var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
            var options = {
                format: 'dd/mm/yyyy',
                container: container,
                todayHighlight: true,
                autoclose: true,
                weekStart: 1,
                startDate: date
            };
            date_input.datepicker(options);


            $("#SelectItemRedacteur").prop('disabled', 'disabled');
            $("#thematique").focusout(function () {

                var dID = $(this).val();

                $.getJSON("../Commandes/LoadRedacteurByTheme", { theme: dID },
                    function (data) {
                        var select = $("#SelectItemRedacteur");
                        $("#SelectItemRedacteur").prop('disabled', false);
                        select.empty();
                        select.append($('<option/>', {
                            value: 0,
                            text: "Selectionner redacteur"
                        }));
                        $.each(data, function (index, itemData) {
                            select.append($('<option/>', {
                                value: itemData.Value,
                                text: itemData.Text
                            }));
                        });
                    });
            });

            $("#SelectItemRedacteur").change(function () {

                var selectItemRedacteur = $(this).val();
                $("#selectedRedact").text(selectItemRedacteur);
                $.getJSON("../Commandes/LoadOtherRedacteur", { redact: selectItemRedacteur },
                    function (data) {
                        var select = $("#SelectItemOtherRedacteur");

                        select.empty();
                        select.append($('<option/>', {
                            value: 0,
                            text: "Choisir un autre redacteur"
                        }));
                        $.each(data, function (index, itemData) {
                            select.append($('<option/>', {
                                value: itemData.Value,
                                text: itemData.Text
                            }));
                        });
                    });
            });


            $("#thematique").autocomplete({

                source: function (request, response) {
                    $.ajax({

                        type: 'GET',
                        url: '/Commandes/AutocompleteThemeSuggestions',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",

                        data: {
                            term: request.term
                        },
                        success: function (data) {
                            console.log(data);
                            response($.map(data, function (val, item) {

                                return {
                                    value: val.Text,
                                    text: val.Value
                                }
                            }))
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    })
                },
                select: function (event, ui) {
                    $("#thematique").val(ui.item.text);
                    console.log($("#thematique").val(ui.item.text));
                },
                minLength: 1
            });


            $("#tag").autocomplete({

                source: function (request, response) {
                    $.ajax({

                        type: 'GET',
                        url: '/Commandes/AutocompleteTagSuggestions',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",

                        data: {
                            term: request.term
                        },
                        success: function (data) {
                            console.log(data);
                            response($.map(data, function (val, item) {

                                return {
                                    value: val.Text,
                                    text: val.Value
                                }
                            }))
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    })
                },
                select: function (event, ui) {
                    $("#tag").val(ui.item.text);
                    console.log($("#tag").val(ui.item.text));
                },
                minLength: 1
            });

            $("#site").autocomplete({

                source: function (request, response) {
                    $.ajax({

                        type: 'GET',
                        url: '/Commandes/AutocompleteSiteSuggestions',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",

                        data: {
                            term: request.term
                        },
                        success: function (data) {
                            console.log(data);
                            response($.map(data, function (val, item) {

                                return {
                                    value: val.Text,
                                    text: val.Value
                                }
                            }))
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    })
                },
                select: function (event, ui) {
                    $("#site").val(ui.item.text);

                },
                minLength: 1
            });

        });



    </script>
}

@if (Session["name"] != null && @Session["role"] != null && @Session["role"].ToString() != "5")
{

    <main id="wrapper">
        <div id="single-container">
            <div class="onglets ease-in-out">
                <ul>
                    <li> @Html.ActionLink("Dashboard", "Dashboard", new { controller = "Home" }) </li>
                    @if (@Session["role"] != null && @Session["role"].ToString() != "2" && @Session["role"].ToString() != "1")
                    {
                        <li> @Html.ActionLink("Utilisateurs", "ListeUser", new { controller = "Home" }) </li>
                    }
                    <li>@Html.ActionLink("Commandes", "ListCommandes", new { controller = "Commandes" }, new { @class = "active" })</li>
                    @if (@Session["role"] != null && @Session["role"].ToString() != "1")
                    {
                        <li>@Html.ActionLink("Factures", "ListFacture", new { controller = "Facture" })</li>

                    }

                </ul>
            </div>
            <div class="card back-office with-shadow">
                <div class="head">
                    <i class="icon icon-create-command"></i>
                    <h1>Creer commande</h1>
                    <p>Veuillez remplir les champs Requis et appuyez sur Enregistrer pour éditer une commande</p>
                </div>
                @using (Html.BeginForm("CreateNewCommande", "Commandes", FormMethod.Post, new { role = "form", @id = "createcommande" }))
                {
                    @Html.AntiForgeryToken();
                    <!-- Champs -->
                    <section class="clearfix">
                        <div class="section-title-rounded">
                            <span>Séléction projet</span>
                        </div>
                        <label for="" class="col-50 pull-right">
                            <div class="blk">
                                <strong>Projet (*)</strong>
                                @Html.DropDownListFor(x => Model.listprojetId, new SelectList(Model.ListProjet, "Value", "Text"), htmlAttributes: new { @id = "SelectItemProjet", @required = true })
                            </div>
                        </label>
						<label for="" class="col-50 pull-left">
                            <div class="blk">
                                <strong>Ajouter un nouveau projet</strong>
                                @if (@Session["role"] != null && @Session["role"].ToString() != "2" && @Session["role"].ToString() != "1")
                                {
                                    <span class="btn-add" data-toggle="modal" data-target="#createprojet">
                                        Nouveau projet

                                    </span>
                                }
                            </div>
                        </label>
                    </section>
                    <section class="clearfix">
                        <div class="section-title-rounded">
                            <span>Préférences</span>
                        </div>
                        <label for="" class="col-50 pull-left">
                            <div class="blk">
                                <strong>Site</strong>
                                @Html.EditorFor(model => model.site, new { htmlAttributes = new { } })
                            </div>
                        </label>
                        <label for="" class="col-50 pull-right">
                            <div class="blk">
                                <strong>Thématique (*)</strong>
                                @Html.EditorFor(model => model.thematique, new { htmlAttributes = new { @required="true" } })
                            </div>
                        </label>
                        <label for="" class="col-50 pull-left">
                            <div class="blk">
                                <strong>TAG</strong>
                                @Html.EditorFor(model => model.tag, new { htmlAttributes = new { } })
                            </div>
                        </label>
                        <label for="" class="col-50 pull-right">
                            <div class="blk">
                                <strong>Type de texte (*)</strong>
                                @Html.DropDownListFor(x => Model.listCommandeTypeId, new SelectList(Model.ListCommandeType, "Value", "Text"), htmlAttributes: new { @id = "SelectItemCommandeType", @required = true })
                            </div>
                        </label>
                        <label for="" class="col-50 pull-left">
                            <div class="blk">
                                <strong>Rédacteur (*)</strong>
                                @Html.DropDownListFor(x => Model.listRedacteurId, new SelectList(Model.ListRedacteur, "Value", "Text"), htmlAttributes: new { id = "SelectItemRedacteur", @required = true })
                            </div>
                        </label>
                    </section>
                    <section class="clearfix">
                        <div class="section-title-rounded">
                            <span>Détails</span>
                        </div>
                        <div class="toggle">
                            <label for="" class="col-50 pull-left">
                                <div class="blk">
                                    <strong>Mot clé principal (*)</strong>
                                    @Html.TextBoxFor(x => x.mot_cle_pricipal, new { @required = true, @name = "name" })
                                </div>
                            </label>
                           
                            <label for="" class="col-50 pull-right">
                                <div class="blk">
                                    <strong>Texte d'ancrage</strong>                                   
                                    @Html.TextBoxFor(x => x.texte_ancrage, new { @name = "name" })
                                </div>
                            </label>
                            <label for="" class="col-50 pull-left">
                                <div class="blk">
                                    <strong>Nombre de mots (*)</strong>
                                    @Html.TextBoxFor(x => x.nombre_mots, new { @required = true, @name = "name", type = "number" })
                                </div>
                            </label>
                            <label for="" class="col-50 pull-right">
                                <div class="blk">
                                    <strong>Date de livraison (*)</strong>
                                    @Html.TextBoxFor(x => x.date_livraison, "{0:dd/MM/yyyy}", new { type = "text", @required = true })
                                    @Html.ValidationMessageFor(m => m.date_livraison)
                                </div>
                            </label>
                        </div>
                    </section>
                    <section class="clearfix">
                        <div class="section-title-rounded">
                            <span>Consignes</span>
                        </div>

                        <label for="" class="col-50 pull-left">
                            <div class="blk">
                                <strong>Références</strong>
                                @Html.TextAreaFor(x => x.consigne_references)
                            </div>
                        </label>
                        <label for="" class="col-50 pull-right">
                            <div class="blk">
                                <strong>Autres</strong>
                                @Html.TextAreaFor(x => x.consigne_autres)
                            </div>
                        </label>
                        <label for="" class="col-50 pull-left">
                            <div class="blk">
                                <strong>Ordre de priorité (*)</strong>
                                @Html.DropDownListFor(x => x.ordrePriorite,
									new List<SelectListItem> {
										new SelectListItem { Value = " " , Text = "Selectionner priorité" },
										new SelectListItem { Value = "Bas" , Text = "Bas (2 à 4 jours)" },
										new SelectListItem { Value = "Moyen" , Text = "Moyen (1 à 2 jours)" },
										new SelectListItem { Value = "Avancé" , Text = "Haut (Aujourd'hui)" }
									}, new {  @required = true })
                            </div>
                        </label>

                        <span class="col-50 pull-right" style="display: inline-block; vertical-align: middle; margin: 54px 0;">
                            Notification sms
                            <input id="SavePass" name="checkResp" type="checkbox" style="display: inline-block; width: auto; vertical-align: middle; margin: 0 0 0 10px;" />
                        </span>
                    </section>
                    <section class="clearfix submit-area">
                        <input type="submit" value="Enregistrer" class="btn btn-success">
                        <input type="submit" value="Annuler" class="btn btn-warning">
                    </section>
                }
            </div>
        </div>

        <div id="createprojet" class="modal modal-popup">
            <div class="flex-content flex-jcenter-acenter flex-col pop-up">
                <div class="popup-container with-shadow">
                    <div class="head gradient-blue">
                        <h1>Nouveau projet</h1>
                    </div>
                    <div class="content-section text-centered icon-bottom">

                        @using (Html.BeginForm("CreateProjet", "Commandes", FormMethod.Post))
                        {

                            <label for="" class="col-100 ">
                                Nom du projet(*)
                                @Html.TextBoxFor(x => x.projet, new { @required = true })
                            </label>

                            <input type="submit" value="Enregistrer" class="btn btn-primary ">
                            @Html.ActionLink("Annuler", "Create", new { controller = "Commandes" }, new { @class = "btn btn-warning" })
                        }

                    </div>
                </div>

            </div>

        </div>
    </main>

}
else
{ Response.Redirect("~/Login/Accueil"); }

<script>
    $(window).on('load', function () { $('#volumePopup').modal('show'); });
</script>
