@model RedactApplication.Models.UTILISATEURViewModel
@{
    ViewBag.Title = "Login";
}
@section Scripts
{
    <link rel="stylesheet" href="@Url.Content("/Content/css/elements/login.css")">
    <link rel="stylesheet" href="@Url.Content("/Content/css/layout/layout.css")">
}

<main>
    <div id="box-login" class="login-container flex-content flex-jcenter-acenter flex-col">
        <div id="clouds"></div>
        <div class="login-form with-shadow">
            <div class="head gradient-blue">
                <h1>Bienvenue !</h1>
                <p>Media Click. Une petite équipe, de grandes idées !</p>
            </div>
            <div class="content-section">
                @using (Html.BeginForm("AuthentificationUser", "Login", FormMethod.Post, new { @class = "formfields" }))
                {
                    <label for="Myemail" class="mail-input">
                        @Html.TextBoxFor(x => x.userMail, new { @placeholder = "E-mail", @required = true, @type = "email" })
                    </label>
                    <label for="Mypassword" class="pass-input">
                        @Html.PasswordFor(x => x.userMotdepasse, new { @placeholder = "Mot de passe", @required = true, @type = "password" })
                    </label>
                    <div class="flex-content flex-jcenter-acenter save-content">
                        <span class="SavePass">
                            @Html.CheckBoxFor(x => x.saveOnComputer, new { @checked = "checked", @type = "checkbox" })
                            Se souvenir de moi
                        </span>

                        @Html.ActionLink("Mot de passe oublié ?", "ForgotPassword", "Login", new { @class = "link forgotPass" })
                    </div>
                    <input type="submit" value="Connexion" class="btn btn-primary">
                }
            </div>
        </div>
        <a href="#" class="watermark-mc">
            <img src="~/images/powered-by.jpg" alt="" srcset="">
        </a>
        <div id="mongolfier"></div>
    </div>
</main>

@if (Model != null)
{
    <script>
        document.getElementById('userMotdepasse').value = '@Model.userMotdepasse';
        function mouseParallax(id, left, top, mouseX, mouseY, speed) {
            var obj = document.getElementById(id);
            var parentObj = obj.parentNode,
                containerWidth = parseInt(parentObj.offsetWidth),
                containerHeight = parseInt(parentObj.offsetHeight);
            obj.style.left = left - (((mouseX - (parseInt(obj.offsetWidth) / 2 + left)) / containerWidth) * speed) + 'px';
            obj.style.top = top - (((mouseY - (parseInt(obj.offsetHeight) / 2 + top)) / containerHeight) * speed) + 'px';
        }

        window.onload = function init() {
            var parallaxBox = document.getElementById('box-login');
            var cleft = document.getElementById('clouds').offsetLeft,
                ctop = document.getElementById('clouds').offsetTop,
                mleft = document.getElementById('mongolfier').offsetLeft,
                mtop = document.getElementById('mongolfier').offsetTop;

            parallaxBox.onmousemove = function (event) {
                event = event || window.event;
                var x = event.clientX - parallaxBox.offsetLeft,
                    y = event.clientY - parallaxBox.offsetTop;

                mouseParallax('clouds', cleft, ctop, x, y, 5);
                mouseParallax('mongolfier', mleft, mtop, x, y, 30);
            }

        }
    </script>
}



